  

  <style>
      .card {
        padding-right: 2px;
      }

      .container {
        padding: 5px;
      }
      h3 {
        text-align: center;
      }
  </style>

  <div class="container"><br>
      <h3>Computer Science Professors</h3>
      <br><br>
      <div class="row">
          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic1.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Megha Joshi</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic2.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Megha Kumar</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic3.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Deepika Garg</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>
      </div>

      <br><br><br>
      <div class="row">
          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic4.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Ravindra Kumar</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic5.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Gaurav Sharma</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card" style="width:200px">
                  <img class="card-img-top"
                  src="../../assets/profile-pic6.png" 
                  alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Mansi Sharma</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
              </div>
          </div>
      </div>
  </div>